---
import Layout from '../layouts/Layout.astro';
import Wordle from '../components/Wordle.jsx';

---

<Layout title="Wordle Solver by Archer Hume.">
	<main>
		<Wordle client:load/>
	</main>
</Layout>